RewriteEngine On

# PHP 5, Apache 1 and 2.

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ index.php/$1 [L]

<IfModule mod_php5.c>

  php_value magic_quotes_gpc                0

  php_value register_globals                0

  php_value session.auto_start              0

  php_value mbstring.http_input             pass

  php_value mbstring.http_output            pass

  php_value mbstring.encoding_translation   0

  php_value post_max_size 100M

  php_value upload_max_filesize 100M

  php_value memory_limit 96M

</IfModule>
